**/.terraform
**/*.tfstate*
**/*.lock*
**/.venv
**/fmt.sh
**/.env
**/postgres-info.txt
**/__pycache__/
**/envs/*secret*.y*ml
**/db*/*secret*.y*ml
**/*.auto.tfvars
**/GCP_SERVICE_ACCOUNT_KEY.json
local-tests/
Д*
**/.DS_Store